body {
  background-color: rgb(253, 251, 251);
  top: 0px;
}


#cabecalho {
  position: fixed;
}

#titulo {

}

#minha_foto {
}

#licoes_aprendidas {

}

#licoes_a_aprender {

}

#rodape {

}

.titulo_das_licoes {

}